<div class="container has-background-primary-light is-fullheight">
      <div class="hero is-large">
        <h1 class="is-size-1 has-text-centered has-text-weight-bold">Create Post</h1>
          <div class="hero-body columns">
              <form class=" new-post-form  box has-background-primary-light">
                  <div class="label">
                      <label for="post-title">Title:</label>
                      <input class="input is-dark" type="text" id="post-title" name="post-title" placeholder="Guess What EveryBody!">
                  </div>
                  <div class="label">
                      <label for="post-content">Content:</label>
                      <input class="textarea is-large is-dark" id="post-content" name="post-content"placeholder="I learned a for loop!">
                  </div>
                  <div class="column">
                      <button id="sign-up-button" class="button has-background-primary-dark has-text-dark is-pulled-right" type="submit">Create Post</button>
                  </div>
              </form>
          </div>
      </div>
  </div>

  <script src="/js/add-post.js"></script>