<div class="container has-background-primary-light is-fullheight">
        <div class="hero is-fullheight">
          <h1 class="is-size-1 has-text-centered has-text-weight-bold">Login</h1>
            <form id="login" class="hero-body colums is-justify-content-center is-align-items-center">
                <div class="columns is-flex is-flex-direction-column box has-background-primary-light">
                    <div class="label">
                        <label for="email-login">Email:</label>
                        <input class="input is-dark" id="email-login" type="text" placeholder="Email" />
                    </div>
                    <div class="label">
                        <label for="password-login">Password:</label>
                        <input class="input is-dark" id="password-login" type="password" placeholder="Password" />
                    </div>
                    <div class="column">
                        <button id="logInButton" class="button has-background-primary-dark has-text-dark is-fullwidth" type="submit">Log In</button>
                        <a href="/signup"><button type="button" class="button has-background-primary-dark has-text-dark is-fullwidth">Sign Up</button></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script src="/js/login.js"></script>