<div class="container has-background-primary-light is-fullheight">
        <div class="hero is-fullheight">
          <h1 class="is-size-1 has-text-centered has-text-weight-bold">Sign Up</h1>
            <form id="signup" class="hero-body colums is-justify-content-center is-align-items-center">
                <div class="columns is-flex is-flex-direction-column box has-background-primary-light">
                    <div class="label">
                        <label for="username-signup">Username:</label>
                        <input class="input is-dark" id="username-signup" type="text" placeholder="Username"/>
                    </div>
                    <div class="label">
                        <label for="email-signup">Email:</label>
                        <input class="input is-dark" id="email-signup" type="text" placeholder="Email"/>
                    </div>
                    <div class="label">
                        <label for="password-signup">Password:</label>
                        <input class="input is-dark" id="password-signup" type="text" placeholder="Password"/>
                    </div>
                    <div class="column">
                        <button id="sign-up-button" class="button has-background-primary-dark has-text-dark is-fullwidth" type="submit">Sign Up</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script src="/js/signup.js"></script>